<div class="overflow-auto">
  @if ($users().length === 0) {
    <p class="text-center">No hay usuarios en el sistema</p>
  } @else {
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Nombre(s)</th>
          <th>Apellido(s)</th>
          <th>Correo electrónico</th>
          <th>Usuario</th>
          @if (isAdmin) {
            <th></th>
          }
        </tr>
      </thead>
      <tbody>
        @for (user of $users(); track user.id) {
          <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.username }}</td>
            @if (isAdmin) {
              <td class="row">
                <a role="button" [routerLink]="['/users/edit/', user.id]">
                  <app-icon [icon]="Icon.PEN" />
                </a>
                <button class="delete-button" (click)="onRemoveUser(user.id)">
                  <app-icon [icon]="Icon.TRASH" />
                </button>
              </td>
            }
          </tr>
        }
      </tbody>
    </table>
  }
</div>
