<div class="flex">
  <div class="caption">
    <p>Page {{ currentPage() }} of {{ lastPage() }}</p>

    <div class="size-selector">
      <label for="pageSize">Page Size:</label>
      <select (change)="onPageSizeChange($event)" id="pageSize">
        @for (size of PAGE_SIZE_OPTIONS; track size) {
          @if (size === +pageSize()) {
            <option [value]="size" selected>{{ size }}</option>
          } @else {
            <option [value]="size">{{ size }}</option>
          }
        }
      </select>
    </div>
  </div>

  <div role="group">
    @if (displayFirst) {
      <button (click)="goToFistPage()">
        <app-icon [icon]="Icon.FIRST_PAGE" />
      </button>
    }
    <button (click)="goToPreviousPage()" [disabled]="disablePrevious">
      <app-icon [icon]="Icon.PREV_PAGE" />
    </button>
    <button (click)="goToNextPage()" [disabled]="disableNext">
      <app-icon [icon]="Icon.NEXT_PAGE" />
    </button>
    @if (displayLast) {
      <button (click)="goToLastPage()">
        <app-icon [icon]="Icon.LAST_PAGE" />
      </button>
    }
  </div>
</div>
