@if (formError) {
  <app-alert role="alert">{{ formError }}</app-alert>
}

<form [formGroup]="passwordForm">
  <div appFormGroup>
    <label for="currentPassword">Contraseña actual</label>
    <input
      aria-describedby="currentPassword-error"
      formControlName="currentPassword"
      id="currentPassword"
      placeholder="********"
      type="password"
    />
    <small id="currentPassword-error"></small>
  </div>

  <div appFormGroup>
    <label for="newPassword">Nueva contraseña</label>
    <input
      aria-describedby="newPassword-error"
      formControlName="newPassword"
      id="newPassword"
      placeholder="********"
      type="password"
    />
    <small id="newPassword-error"></small>
  </div>

  @if (passwordForm.value.newPassword?.trim() !== '') {
    <div appFormGroup>
      <label for="newPasswordConfirmation">Confirmar nueva contraseña</label>
      <input
        aria-describedby="newPasswordConfirmation-error"
        formControlName="newPasswordConfirmation"
        id="newPasswordConfirmation"
        placeholder="*******"
        type="password"
      />
      <small id="newPasswordConfirmation-error"></small>
    </div>
  }
</form>

<div class="row justify-center">
  <button (click)="onSubmit()" [disabled]="disableSubmit" class="mt-1">
    Actualizar contraseña
  </button>
</div>
