/* You can add global styles to this file, and also import other style files */

@use '@picocss/pico/scss';
@use '@picocss/pico/scss/colors' as c;

.text-center {
  text-align: center;
}

.my-2 {
  margin-block: 2em;
}

.mt-1 {
  margin-block-start: 1em;
}

.mt-4 {
  margin-block-start: 4em;
}

.mb-1 {
  margin-block-end: 1em;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: var(--row-gap, 1em);
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.col {
  flex: var(--flex-grow, 1);
}

.delete-button {
  border-color: c.$red-500;
  background-color: c.$red-500;

  &:hover {
    border-color: c.$red-400;
    background-color: c.$red-400;
  }
}

.icon {
  block-size: 1.2em;
  inline-size: 1.2em;
}

form {
  display: grid;

  @media screen and (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    gap: 1em;
  }
}
